.benefit {
  text-align: center ;
}

.benefit__image {
  margin-bottom: 1.5rem;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 3.56rem;
  height: 3.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  margin-bottom: 0.44rem;
  font-family: $play;
}

.benefit__desc {
  font-family: $play;
  color: $gray;
}