.contacts {
display: flex;
flex-direction: column;

margin-top: 1.25rem;

@include tablets {
  margin-left: 0;
}

@include phones {
  align-items:center;
}
}

.contacts__address {
  margin-bottom: 3px;
  font-size: 18px;


@include tablets {
  color: #E01F3D;
}
@include phones {
  color: $black;
}
}

