.delivery-section {
  background:#181818;
  position: relative;
  background: url(./images/cta1.svg) bottom no-repeat;
  background-size: cover;

  &:after {
    content: url("./images/Polygon2.png");
    position: absolute;
    right: 9.375rem;
    top: -1.375rem;

    @include phones {
      content: "";
    }
  }
}

.delivery-title {
  color: #fff;
  margin-bottom: 2.875rem;
}