.feedback-section {
  position: relative;

  @include phones {
    margin-bottom: 5rem;
  }

  &::before {
    content: url("./images/circle.png");
    position: absolute;
    bottom: -1.375rem;
    left: 8.125rem;

    @include phones {
    bottom: -6.375rem;
    }
  }
}