.hamburger {
  /*width: 26px;
  height: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  position: fixed;
  left:90%;
  top: 5%;

  @include tablets {
    display: inline-flex;
  }*/

  position: fixed; 
  top:20px;
  right: 10%;
  width: 26px;
  height: 20px;
  cursor:pointer;
  z-index: 15;
  transition:all .4s;


  @include tablets {
    
  }
}

.hamburger__plank {
  display: block;
  background: $black;
  height: 4px;
  border-radius: 20px;
  margin-bottom: 3px;
  transition: all .5s;

  &:nth-child(2){
    top:50%;
    transform:translateY(-50%);
  }
  
  &:nth-child(3){
    bottom:0;
    top:initial;
  }
}


