.hamburger {
  width: 26px;
  height: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  position: fixed;
  left:90%;
  top: 5%;

  @include tablets {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: $black;
  height: 4px;
  border-radius: 20px;
  margin-bottom: 3px;

  &:last-child {
    margin-bottom: 0;
  }
}

.hamburger--active {
  .hamburger__plank {
    &:nth-child(1) {
      opacity: 0;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(45deg),  translateY(-8px), translateX(5px);
    }
  }
}