.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  margin-right: 150px;
}

.menu__list {
  display: flex;
  align-items: center;
  color: $black;
}

.menu__item {
  margin-right: 27px;

  &:last-child {
    margin-right: 0;
  }
}

.phones__number {
font-family: 'Play', Arial, Helvetica, sans-serif;
font-size: 18px;
display: flex;
align-items: center;
}
.phone-number__icon {
width: 14px;
height: 14px;
margin-right: 6px;
}

