.headline {
  text-align: center;
  margin-bottom: 62px;
}

.headline__title {
  margin-bottom: 18px;
  color: $black;
  font-family: $play;
  margin-bottom: 7px;
}

.headline__subtitle {
  color: $black;
  font-family: $play;
  color: $gray;
  padding: 0 26%;

}